body {
  background-image: url(bk.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.particle {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -1;
}
.maincontainer {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}
.carousel-container {
  width: 50%;
  text-align: center;
  padding-top: 2%;
  overflow: hidden;
}

.box-carousel {
  background-image: url(smphone.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 101.3%;
  padding-top: 11.8%;
  overflow: hidden;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.container-carousel {
  margin-left: auto;
  margin-right: auto;
  height: 68.5%;
  width: 59%;
  opacity: 0.9;
  overflow: hidden;
}

img {
  width: 100%;
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.navbarlink {
  text-decoration: none;
  color: black;
}

.formcontainer {
  width: 49%;
}
